#error{
    background-color: rgba(163, 163, 163, 0.0901960784);
    height: 320px;
    border-radius: 10px 150px;

    h1{
        font-size: 100px;
    }
    


    .not{
        font-size: x-large;
    }

    a{
        color: #269d08;
        font-size: 25px;
    }
}